{% extends "base.html" %}
{% block content %}
    <!-- Navigation -->
    {% include "navbar.html" %}

    {% if breed is defined %}
        <script>
            window.location.hash = "#" + "prediction";
        </script>
    {% endif %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row hero d-lg-block">
            <div class="row vpad d-none d-md-block"></div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6 m-3">
                    <h2>Identifying dog breeds is easy using IDog!</h2>
                    <p>Upload or take a photo of a dog, and get a prediction of its breed
                      as well as profiles of similar dogs available for adoption at a
                      shelter near you.
                    </p>

                    <p>Create an account to save profiles of dogs that you like!</p>
                </div>
            </div>
            <div class="row hero-image mx-auto d-md-block d-none"></div>
        </div>

    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-xs-12 feature text-center">
                {% if breed is defined %}
                    <div class="d-flex justify-content-center m-3">
                        <h2>Our prediction: {{ breed }}</h2>
                    </div>
                    <div class="d-flex justify-content-center m-3">
                        <img style="max-height:500px;max-width:400px;height:100%;width:100%;"
                             src="/static/tmp/{{ path }}">
                    </div>
                {% endif %}
                <form method=post enctype=multipart/form-data>
                    <input type=file name=file value="Upload Image" class="btn btn-primary">
                    <!--  <input type=submit value="Upload Image" class="btn btn-primary"> -->
                    <div class="input-group">
                        <input type="text" name=zipcode class="form-control m-3" placeholder="ZIPCODE"
                               value="{{ zipcode }}">
                        <div class="input-group-btn m-3">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
                {% if breed is defined %}
                    <h2>Similar dogs near you:</h2>
                {% endif %}
            </div>
        </div>
        <div class="row m-3">
            {% for dog in dogs %}
                <div class="col-md-6 col-lg-4">
                    <div class="img-thumbnail dog-container">
                        <a href="{{ url_for('check_out_dog', dog_id=dog.id) }}">
                            <div class="image">
                                <span class="helper"></span>
                                <img src="{{ dog.photo_thumbnail }}" alt="dog picture" class="dog-image" width="100%">
                            </div>
                        </a>
                        <div class="col-xs-12 lpad text-center">
                            <a href="{{ url_for('check_out_dog', dog_id=dog.id) }}"
                               class="name">{{ dog.name }}</a>
                            {% if current_user.is_authenticated %}
                                {% if dog.id in fav_dogs %}
                                    <a title="Remove from favorites" href="#!">
                                        <!--<img src="../static/heart@2x.png" width="34"
                                             alt="Remove from favorites">-->
                                        <i onclick="likeDog(this, {{ dog.id }})" class="fa liked_dog"></i>
                                    </a>
                                {% else %}
                                    <a title="Add to favorites" href="#!">
                                        <!--<img src="../static/heart@2x_empty.png" width="34"
                                             alt="Add to favorites">-->
                                        <i onclick="likeDog(this, {{ dog.id }})" class="fa unliked_dog"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a title="You should log in to add to Favorites" href="{{ url_for('login') }}">
                                    <!--<img src="../static/heart@2x_empty.png" width="34"
                                         alt="Add to favorites">-->
                                    <i class="fa unliked_dog"></i>
                                </a>
                            {% endif %}
                            <p>{{ dog.gender }} &bull; {{ dog.age }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
