<!DOCTYPE html>
<html>
<head>
  <title>iDog app</title>
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../static/favicon.png">
</head>
<body>
  <div id="app">
    <div id="header">
      <img src="../static/logo_big.png" alt="iDog logo" width="455"/>
      <!-- Navigation -->
      <ul>
        <li>
          <button>Log in</button>
        </li>
        <li>
          <button>Sign up</button>
        </li>
        <!-- Navigation after user logged in
            probably user name shouldn't look like a button,
            but more like an underlined text/link
        <li>
          <button>Favorites</button>
        </li>
        <li>
          <button>userName</button>
        </li>
        <li>
          <button>Log out</button>
        </li>
        -->
      </ul>
    </div>
    <div id="body">
      <!-- picture with four dogs as a background to the instructions -->
      <div id="app_intro">
        <p>Lorem ipsum accumsan dui massa viverra curabitur libero per
            fermentum cubilia, fusce nunc urna quisque tortor ut ultricies
            sit malesuada mi, ac suscipit conubia placerat erat
        </p>
      </div>
      <!-- Part where user can upload image and specify zip code -->
      <div id="upload_panel">
        <form>
          <!-- Can't change "Choose file" to "UPLOAD IMAGE"
              Have an interesting attribute 'capture' to capture
              an image from the device.
          -->
          <input type="file" name="dogimage" accept="image/png, image/jpeg"
            capture value="UPLOAD IMAGE">
          <input type="text" value="Current location">
          <input type="submit" value="GO">
        </form>
      </div>
    </div>
    <div id="footer"></div>
  </div>
</body>
</html>
