{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-xs-12 feature text-center">
                <h1>Welcome! {{ user.username }}</h1>
            </div>
        </div>
        <div class="row m-3">
            {% for dog in dogs %}
                <div class="col-md-6 col-lg-4">
                    <div class="img-thumbnail dog-container">
                        <a href="{{ url_for('check_out_dog', dog_id=dog.id) }}">
                            <div class="image">
                                <span class="helper"></span>
                                <img src="{{ dog.photo_thumbnail }}" alt="dog picture" class="dog-image" width="100%">
                            </div>
                        </a>
                        <div class="col-xs-12 lpad text-center">
                            <a href="{{ url_for('check_out_dog', dog_id=dog.id) }}" class="name">{{ dog.name }}</a>
                            {% if current_user.is_authenticated %}
                                {% if dog.id in fav_dogs %}
                                    <a title="Remove from favorites" href="#!">
                                        <!--<img src="../static/heart@2x.png" width="34"
                                             alt="Remove from favorites">-->
                                        <i onclick="likeDog(this, {{ dog.id }})" class="fa liked_dog"></i>
                                    </a>
                                {% else %}
                                    <a title="Add to favorites" href="#!">
                                        <!--<img src="../static/heart@2x_empty.png" width="34"
                                             alt="Add to favorites">-->
                                        <i onclick="likeDog(this, {{ dog.id }})" class="fa unliked_dog"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a title="You should log in to add to Favorites" href="{{ url_for('login') }}">
                                    <!--<img src="../static/heart@2x_empty.png" width="34"
                                         alt="Add to favorites">-->
                                    <i class="fa unliked_dog"></i>
                                </a>
                            {% endif %}
                            <p>{{ dog.gender }} &bull; {{ dog.age }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}