{% extends "base.html" %}
{% include "navbar.html" %}

{%block content%}
<h1> Welcome to the sign up page!</h1>
<p>Fill out your email address and password to sign up!</p>
<!-- <form action="{{url_for('login')}}"
    <label for="email">Email:</label>
    <p><input type="text" name="email"></p>
    <label for="password">Password:</label>
    <p><input type="text" name="password"></p>
    <input type="submit" value="Sign up">
</form> -->
<div class='container'>
    <form method='POST'>
        <div class='form-group'>
            {{form.hidden_tag()}}
            <label for="usernameInput">Username:</label>
            <br>
            {{form.username}}
        </div>
        <div class='form-group'>
            <label for="usernameInput">Email:</label>
            <br>
            {{form.email}}
        </div>
        <div class='form-group'>
            <label for="usernameInput">Password:</label>
            <br>
            {{form.password}}
        </div>
        <div class='form-group'>
            {{form.submit()}}
        </div>
            
    </form>
</div>

{%endblock%}
