{% extends "base.html" %}
{% include "navbar.html" %}
{% from "_formhelpers.html" import render_field %}
{%block content%}
<h1> Welcome to the sign up page!</h1>
<p>Fill out your email address and password to sign up!</p>
<!-- <form action="{{url_for('login')}}"
    <label for="email">Email:</label>
    <p><input type="text" name="email"></p>
    <label for="password">Password:</label>
    <p><input type="text" name="password"></p>
    <input type="submit" value="Sign up">
</form> -->
<div class='container'>
    <form method='POST' action='signup'>
        {{ form.csrf_token}}
        <div class='form-group'>
            {{form.hidden_tag()}}
            {{ render_field(form.username) }}
        </div>
        <div class='form-group'>
            {{ render_field(form.email) }}
        </div>
        <div class='form-group'>
            {{ render_field(form.password) }}
        </div>
        <div class='form-group'>
            {{form.submit()}}
        </div>
            
    </form>
</div>

{%endblock%}
